<div class="centered indexpage">
  <%= image_tag("kklogobackup.png") %>
  <br />
  <%= image_tag("kk-new-manga.jpg") %>
  
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  <fb:like-box href="http://www.facebook.com/pages/Kååtha-Kamrater/156271877764079" width="292" show_faces="false" border_color="" stream="false" header="false"></fb:like-box>

</div>