<div id="contentdiv">
	<%= image_tag "/images/titles/activities.png"%>
	<h2>Alkåhålkravallen</h2>
	<p>Alkåhålkravallen är en tillställning anordnad av Kååtha Kamrater som går ut på att man packar in ett godtyckligt antal personer i en buss av något slag och åker "uudriges" för att inhandla alkåhål av diverse slag. På resan finns även möjlighet att åskåda sevärdheter (såsom butiker "för vuxna") eller att avnjuta kulturen (t ex att sitta i hamnen i Helsingör o sjunga vackra visor).</p>
	
		<p>En första resa är nu genomförd med ett mycket gott resultat. Åtta personer (varav tre Kååtha Kamrater) packade in sig i en minibuss och for till Det Gyllene Landet (Danmark). Bussen fylldes av öhl och andra flytande substanser i samma takt som phestandet pågick. Bilder från resan finns givetvis att åskåda!</p>
		<p>Eftersom första resan var så lyckad finns det planer på att besöka Polen, Tyskland och Skåne!</p>
		<p>Kontakta Hedning för mer information eller önskemål!</p>
		
		<h2>Kinky Night</h2>
		<p>Kinky Night är en phest på Kauren anordnad av Kååtha Kamrater i sexualitetens anda. Här står det var och en fritt att klä sig som man behagar och komma ner o träffa annat mysigt folk. På phesten blandas både humor och allvar tillsammans med Kååtha Kamrater bakom bardisken och en mängd speciella drinkar.</p>
		<p>Kinky Night arrangerades första gången hösten 2000, bilder från phesten finns givetvis att åskåda! Det var en lika rolig phest för besökarna som det var för oss!</p>
		<p>Andra upplagan av denna phest blev minst lika lyckad. 230+ gäster och ett jävla röj. Självklart finns det även bilder härifrån!</p>
		<p>Maila Kååtha Kamrater för mer information eller önskemål!</p>
	</div>