<%if session[:logged_in]%>
<div id="contentdiv" class="content-background">
  <iframe width="100%" height="610" scrolling="no" src="http://widget01.mibbit.com/?settings=2e1899e70a9a033212075b3cfa4e54aa&server=irc.bsnet.se&channel=%23kk&nick=<%=session[:user].alias%>"></iframe>
</div>
<%end%>