    <div id="contentdiv">
        <p align="center"></p>
        <p>
          <ul>
              <li>En fest med Kååtha Kamrater!</li>

              <li>30:e oktober</li>

              <li>Kl 22:00 - 02:00</li>
              <li>Kårhuset (Rotundan) i Karlskrona</li>
              <li>Klädseltemat är; As kinky as you wish! Priser kommer delas ut till den med mest Kinky Klädsel.</li>
              <li>Förköpsbiljetter säljs Måndag till Fredag vecka 40 i Hus J i Karlskrona </li>
             <li>I förköpsbiljetten ingår:</li>
              <ul>
                <li>Märke</li>
                <li>Inträde till Kåren</li>
                <li>Overraskning i baren</li>
              </ul>
              
              <li>Eftersläpp säljs i dörren under kårkvällen i mån av plats. Detta kostar 80kr per pers.</li>
          </ul>
        </p>
</div>