<%@notices.each do |notice| %>
	<p class="shortcaption">
		<%= notice.caption %>
	</p>
	<p class="shortmessage">
		<%= notice.text %>
	</p>
	<br/>
	<%= link_to "delete", delete_notice_path(notice) %>
<% end %>

<%= link_to "add notice", add_notice_path %>