<% @notices.each do |notice| %>
<div>
  <p class="shortcaption">
    <%= notice.caption %>
  </p>
  <p class="shortmessage">
    <%= notice.text %>
  </p>
</div>
<% end %>
<%if session[:logged_in]%>
  <%if session[:user].privileges > 1%>
    <%= link_to "Lägg till notis! :*", add_notice_path, :class => "btn btn-info" %>
  <%end%>
<%end%>